.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card-header1 {
    background-color: rgba(90, 74, 74, 0.09);  
    padding: 1.00rem;
    margin-bottom: 0;
    /* border-bottom: 0.125rem solid rgba(0, 0, 0, 0.125); */
    }
