<mat-progress-bar *ngIf="loading" mode="indeterminate">
</mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5 class="text-dark font-weight-bold">My Teams </h5>
        </div>
        <div class="col-4 text-right" *ngIf="role.admin == 'Full Access'">
            <span (click)="openTeamCreateModal()" class="text-primary pointer"><u>Create Team</u></span>
        </div>
    </div>

    <div class="row" *ngIf="!loading && teams.length == 0">
        <div class="col text-center">
            <span class="text-info">No Teams Found!</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 p-1" *ngFor="let team of teams">
            <div class="card" [ngStyle]="styleObject(team)">
                <div class="p-2 pt-3">
                    <span (click)="routeMeToTeamDashboard(team)" title="{{team.name}}"
                        class="text-nowrap-pk text-dark font-weight-bold pointer">{{team.name}}</span>

                    <small title="{{team.category}}" class="text-nowrap-pk text-muted">{{team.category}}</small>

                    <small title="{{team.leadEmail}}" class="text-nowrap-pk text-muted">Lead : {{team.leadName}}
                        &#60;{{team.leadEmail}}&#62;
                    </small>
                </div>
            </div>
        </div>
    </div>

</div>