.editFocus {
    border: 0.3px solid transparent;
    min-width: 120px;
}

.editFocus:focus {
    outline: none;
    outline-color: rgb(7, 86, 170);
    border-color: rgb(7, 86, 170);
    box-shadow: 0 0 7px rgb(7, 86, 170);
    min-width: 150px;
}