<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-9 col-md-9 col-lg-4">
            <label for="dob"> Dates </label>
            <div class="input-group">
                <input class="form-control" (focus)="datesdp.toggleCalendar()" placeholder="Select a date"
                    angular-mydatepicker name="dates" [(ngModel)]="dates" [options]="myDatePickerOptions"
                    #datesdp="angular-mydatepicker" autocomplete="off" />
                <div class="input-group-append">
                    <i *ngIf="datesdp.isDateValid()" (click)="datesdp.clearDate()" class="far fa-times-circle"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-2">
            <label for=""></label>
            <button class="btn btn-sm btn-primary" style="margin-top: 25px;" (click)="getAttendance()">
                Get Attendance</button>
        </div>
    </div>
</div>

<div class="container p-2" *ngIf="showGrid">

    <ag-grid-angular *ngIf="!loading" #agGrid style="width: 100%; height: 350px;" id="myGrid" class="ag-theme-balham"
        [modules]="modules" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true"
        (cellValueChanged)="onCellValueChanged($event)" [rowSelection]="rowSelection" [rowData]="gridRowData"
        (gridReady)="onGridReady($event)"></ag-grid-angular>

    <div class="item" *ngIf="loading">
        <ngx-skeleton-loader count="12"></ngx-skeleton-loader>
    </div>

    <button class="btn btn-primary text-center" (click)="UpdateChangedAttendances() ">
        Update Changed Attendances
    </button>
</div>