<mat-tab-group>
    <mat-tab label="Common Mail Settings">
        <app-mail-setting-properties [configFor]="'Common'"></app-mail-setting-properties>
    </mat-tab>
    <mat-tab label="Ticketing Mail Settings">
        <app-mail-setting-properties [configFor]="'Tickets'"></app-mail-setting-properties>
    </mat-tab>
    <mat-tab label="Sales Mail Settings">
        <app-mail-setting-properties [configFor]="'Sales'"></app-mail-setting-properties>
    </mat-tab>
    <mat-tab label="Leads Mail Settings">
        <app-mail-setting-properties-lead [configFor]="'Leads'"></app-mail-setting-properties-lead>
    </mat-tab>
</mat-tab-group>